
body{background: #5f5d5d;}

div{height: 100px;width: 100px;background: red;
    /* animation-name: x;
    animation-duration: 4s; 
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: normal;
    animation-fill-mode: forwards ; 
    animation-play-state: running; */

animation: x 4s linear 3s 3 normal forwards running;}


@keyframes x { 
0%  {background:aqua   ;translate: 000px 000px;rotate:0deg}
25% {background:green ;translate: 000px 400px;rotate:90deg}
50% {background:red ;translate: 400px 400px;rotate:180deg}
75% {background:yellow;translate: 400px 000px;rotate:270deg}
100%{background:blue  ;translate: 000px 000px;rotate:360deg}
}
div:hover{    animation-play-state: paused;cursor: pointer;}}
