*{margin: 0;padding: 0;}

body{ width: 100%; }

nav{background: #237ec9; display:flex;  justify-content:space-between ;
    width: 100%;padding: 40px 0;color: aliceblue; }
nav::before{content: ''; width: 165px; height: 50px;
        background:#4c4949;
        border-radius: 50%;
        position: absolute;
        transform: translate(20px,-10%);        
        z-index: 0;  }    

nav h2{margin-left: 20px; letter-spacing: 2px;font-size: 40px;z-index: 1;}    
nav ul{ margin-right: 5%; }   
nav li{display: inline-flex;padding: 10px 15px;}
nav li a{text-decoration: none;  color: aliceblue;font-size: 26px;}
nav ul li:hover{transform: scale(1.2); background: #144aad;border-radius: 30px;}


.head { position: relative; min-height: 900px; }
.head .image { position: absolute;  width: 100%; height: 100%; z-index: 0; }
.head .image img { width: 100%; height: 100%; object-fit: cover; }
.head .text { position: relative; z-index: 1; color: rgb(18, 3, 224);
                 max-width: 500px; margin: auto;text-align: center; transform: scale(1.9); }
.head h2{padding: 100px 0; letter-spacing: 1px; font-size: 50px;height: 100%;  }  
  
.head .text .plus::before{content: 'Plus'; width: 55px; height: 50px;
        background:red;        ;
        border-radius: 50%;
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: translate(400%,10%);  }

.content{ position: relative ; background: #e4d5c8 ;border: solid 3px black; }
.titre{text-align:center ;text-transform: capitalize; color:blue;padding: 40px 0;transform: scale(1.5); }
.content .histoire {display:flex; justify-content:space-between ; margin-left: 30px; height:100%;}
.content .histoire .tContent p{ width: 90%;font-size: 20px; padding: 10px;text-align: center;}
.content .histoire img{min-width: 35%;}
.content .histoire .tContent .plus::before{content: 'Plus'; width: 55px; height: 50px;
        background:red;        ;
        border-radius: 50%;
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 30%;
        top: 65%;
        transform: translate(-20%, -20%); }
.content .service{ background: #b8b3a9 ;border: solid 3px red; display: inline-flex; padding: 30px;}
.content .service .ds{padding: 20px; }
.content .service .ds h3{padding: 40px; text-transform: capitalize;transform: scale(1.2);}






@media (max-width:1000px)  {
    .head .text {max-width: 300px;}
    .plus::before{transform: translate(200%,10%);} }      
        
