@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Anton&family=Antonio&family=Roboto:wght@100..900&family=Tagesschrift&family=Vast+Shadow&display=swap');

*{margin:0; padding:0; box-sizing:border-box;}
html{font-size:10px;}
body{font-family:"Roboto","Arial",sans-serif;}
header{display:flex; justify-content:space-between; align-items:center; height: 56px;
        padding:0 16px;}
.l-section{display:flex; align-items:center; cursor: pointer;}
.l-section img{width: 46%; padding:0 0 6px 16px;}
.m-section {display: flex; align-items: center; margin-left:-9%;}
.m-section form {display:flex; height:40px; width:628px;}
.m-section input{width: 100%; border-radius: 3px 0 0 3px;padding: 12px;font-size: 1.6rem;
        border: 1px solid #d3d3d3; border-right: none;}
.m-section button{width: 64px; border: 1px solid #d3d3d3; border-radius: 0 3px 3px 0;
        padding-top: 4px;background-color: #f8f8f8; cursor: pointer;}
.m-section .mic:hover, button:hover {border-color: #c6c6c6; background-color: #f0f0f0;}  
.m-section .mic{display: flex;justify-content: center;align-items: center;cursor: pointer;
    width: 40px;height: 40px; border-radius: 50%;margin-left: 10px; background-color:#f9f9f9; }
.r-section a{padding-right: 18px; text-decoration: none; color: black;

}  






















@media (max-width:1100px)   {
    .m-section form {width:100%;}

}     

